body {

	font-family: Monospace;
	background-color: #fff;
	margin: 0px;
	overflow: hidden;
}

.first {
	font-size: 30px;
	font-family: 'Tahoma';
	color: gray;
	text-align: center;
}
p{
	text-align: center;
	color:white;
}